
// Body
$body-bg: #f3f3f3;

// Typography
$font-family-sans-serif: "din", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$brand-primary: #24b9d1;


$border-radius: 0;
$input-border-radius: $border-radius;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius;
$btn-border-radius-sm: $border-radius;